.Zap-AssetWindow {
  background-color: var(--dark-grey);
  position: fixed;
  padding: 1.5vw;
  overflow: auto;
}

.Zap-AssetWindow li {
  list-style: none;
  margin: 0.5vw;
}

.Zap-Components, .Zap-ComponentProviders {
  margin: 2.5vw;
}

/* .Zap-HierarchySelectedEntity {
  background-color: #0077AA;
}



.Zap-HierarchyEntities, .Zap-HierarchySystems {
  padding: 2.5vw;
} */
