.Zap-CommandBar {
  background-color: var(--dark-grey);
  position: fixed;
  top: 0;
  left: 0vw;
  height: 10vh;
}

.Zap-CommandButton {
  background-color: var(--grey);
  width: 8vh;
  height: 8vh;
  border: none;
  border-radius: 2vh;
  margin: 1vh;
  outline: none;
}

.Zap-CommandButton.Zap-DisabledButton {
  opacity: 0.2;
}

.Zap-IconPlay {
  width: 0;
  height: 0;
  border-top: 2.30940107676vh solid transparent;
  border-bottom: 2.30940107676vh solid transparent;
  border-left: 4vh solid var(--button-icon-color);
  transform: translate(25%);
}

.Zap-IconStop {
  width: 3vh;
  height: 3vh;
  transform: translate(50%);
  background-color: var(--button-icon-color);
}

.Zap-IconPause {
  background-color: transparent;
  width: 1vh;
  height: 6vh;
  border-left: 1.5vh solid var(--button-icon-color);
  border-right: 1.5vh solid var(--button-icon-color);
  transform: translate(25%);
}
