.Zap-InspectorWindow {
  background-color: var(--dark-grey);
  position: fixed;
  top: 0;
  left: 75vw;
  width: 22vw;
  height: calc(100vh - 3vw);
  padding: 1.5vw;
  overflow: auto;
}

.Zap-InspectorComponent {
  margin: 2.5vw;
}

.Zap-InspectorComponentProperty {
  margin: 2.5vw;
  color: var(--text-color);
}

.Zap-InspectorComponentPropertyEditor {
  background-color: var(--soft-black);
  color: var(--text-color);
  font-family: monospace;
  font-size: 1vw;
}

.Zap-SystemInspector {
  margin: 2.5vw;
  color: var(--text-color);
}

.Zap-SystemInspector .Zap-EditButton {
  margin-top: 2.5vw;
}

.Zap-EntityInspector .Zap-AddButton {
  margin: 2.5vw;
}

.Zap-AddComponentMenu {
  margin: 2.5vw;
  background: var(--menu-color);
  color: var(--text-color);
  border: 1px solid var(--soft-white);
  display: inline-block;
  width: 40%;
  height: 50vh;
}

.Zap-AddComponentMenu .Zap-SearchInput {
  background-color: #000000;
  color: var(--text-color);
  outline: none;
  border: 1px solid var(--grey);
  padding: 1vw;
  font-size: 1em;
  display: block;
  width: calc(100% - 2vw - 2px);
}

.Zap-AddComponentMenu .Zap-SearchInput:focus {
  box-shadow: 0 0 1em 1px var(--grey);
}

.Zap-AddComponentMenu ul {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: calc(100% - 1em - 2vw - 2px);
}

.Zap-AddComponentMenu li {
  list-style: none;
  padding: 1vw;
  padding-left: 2.5vw;
  border: 1px solid var(--grey);
}
