.Zap {
  --soft-black: #111111;
  --dark-grey: #222222;
  --grey: #444444;
  --text-color: #EEEEEE;
  --should-not-be-seen: #FF0000;
  --button-icon-color: #0088BB;
}

.Zap h2, .Zap h3 {
  color: var(--text-color);
  font-weight: lighter;
  width: min-content;
  margin: 0;
}

.Zap-CommandBar {
  background-color: var(--soft-black);
  position: fixed;
  top: 0;
  left: 0vw;
  width: 50vw;
  height: 10vh;
}

.Zap-CommandButton {
  background-color: var(--grey);
  width: 8vh;
  height: 8vh;
  border: none;
  margin: 1vh;
  outline: none;
}

.Zap-IconPlay {
  width: 0;
  height: 0;
  border-top: 2.30940107676vh solid transparent;
  border-bottom: 2.30940107676vh solid transparent;
  border-left: 4vh solid var(--button-icon-color);
  transform: translate(25%);
}

.Zap-IconPause {
  background-color: transparent;
  width: 1vh;
  height: 6vh;
  border-left: 1.5vh solid var(--button-icon-color);
  border-right: 1.5vh solid var(--button-icon-color);
  transform: translate(25%);
}

.Zap-PreviewWindow {
  background-color: var(--should-not-be-seen);
  position: fixed;
  top: 10vh;
  left: 0vw;
  width: 50vw;
  height: 45vh;
}

.Zap-PlayWindow {
  background-color: var(--should-not-be-seen);
  position: fixed;
  top: 55vh;
  left: 0vw;
  width: 50vw;
  height: 45vh;
}

.Zap-HierarchyWindow {
  background-color: var(--grey);
  color: var(--text-color);
  position: fixed;
  top: 0;
  left: 50vw;
  width: 22vw;
  height: calc(100vh - 3vw);
  padding: 1.5vw;
}

.Zap-HierarchyEntities li, .Zap-HierarchySystems li {
  list-style: none;
}

.Zap-HierarchyEntities, .Zap-HierarchySystems {
  padding: 2.5vw;
}

.Zap-InspectorWindow {
  background-color: var(--dark-grey);
  position: fixed;
  top: 0;
  left: 75vw;
  width: 22vw;
  height: calc(100vh - 3vw);
  padding: 1.5vw;
  overflow: auto;
}

.Zap-InspectorComponent {
  margin: 2.5vw;
}

.Zap-InspectorComponentProperty {
  margin: 2.5vw;
  color: var(--text-color);
}

.Zap-InspectorComponentPropertyEditor {
  background-color: var(--soft-black);
  color: var(--text-color);
  font-family: monospace;
  font-size: 1vw;
}
